<div class="global-container">

  <mat-toolbar class="toolbar1">

    <span><h2>MY WEATHER</h2></span>
    <span class="example-spacer"></span>

    <div class="container">

      <mat-form-field appearance="legacy">

        <mat-label>Search input</mat-label>
        <input matInput type="text" (keydown.enter)="showToday(); getTodayWeather(); getForecastWeather()" [(ngModel)]="valueInput">
        <button *ngIf="valueInput"  matSuffix mat-icon-button aria-label="Clear" (click)="valueInput = '' ">
          <mat-icon>close</mat-icon>
        </button>

        </mat-form-field>

        <button mat-stroked-button  (click)="showToday(); getTodayWeather(); getForecastWeather()"><mat-icon>search</mat-icon></button>
    </div>


  </mat-toolbar>




  <mat-toolbar class="toolbar2">


    <button mat-stroked-button [ngStyle]="{borderBottom: (isTodayVisible) ? '3px solid #26fc05' : 'inherit'}" (click)="showToday()">Today</button>
    <button mat-stroked-button [ngStyle]="{borderBottom: (isForecastVisible) ? '3px solid #26fc05' : 'inherit'}" (click)="showForecast()">5-day forecast</button>

  </mat-toolbar>

  <div class="weather-today-container" *ngIf="isTodayVisible">

      <app-weather-today *ngIf="todayWeatherInfo" [todayWeatherInfo]="todayWeatherInfo"></app-weather-today>

  </div>

  <div class="weather-forecast-container" *ngIf="isForecastVisible">

    <app-weather-forecast *ngIf="forecastWeatherInfo" [forecastWeatherInfo]="forecastWeatherInfo"></app-weather-forecast>

  </div>

</div>
